# SHARED GITIGNORE

# dev
/dev/

# pretrained_model
/pretrained_model/

# __pycache__
**/__pycache__

# datafiles
/datafiles/


# PERSONAL GITIGNORE

# personal exercise notebook
/exercise_dev.ipynb

