# SHARED GITIGNORE

# dev
/dev/

# pretrained_model
/pretrained_model/

# datafiles
/datafiles/

# __pycache__
**/__pycache__



# PERSONAL GITIGNORE

# personal exercise notebook
/exercise_dev.ipynb

